{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h2 class="title mb-4"><strong>Welcome!</strong></h2>
    <h3 class="subtitle mb-5">Sign up or Log in...</h3>
  </div>
  <div class="column">
    <img src="/images/mountain-img.jpg">
  </div>
</div>