<form action="/dashboard/addlocation" method="POST">
  <div class="field">
    <label class="label">Location Name</label>
    <input class="input" type="text" placeholder="Enter location name" name="title">
  </div>
  <div class="field">
    <label class="label">Description</label>
    <textarea class="textarea" placeholder="Enter description" name="description"></textarea>
  </div>
  <div class="field">
    <label class="label">Category</label>
    <div class="select">
      <select name="category">
        <option>Indoor Climbing</option>
        <option>Outdoor Boulder</option>
        <option>Outdoor Trad</option>
      </select>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="Latitude" name="latitude">
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Location</button>
</form>